body{
    background-color: pink;
}

button{
    color: blueviolet;
     border-radius: 10px;
}



.bg-blue{
    background-color: blue;
}


.bg-red{
    background-color: red;
}

h2 {
    color: green;
}

h1{
    color: blue;
}

.first h1{
    color:yellow;
}
.second h1{
    color:orange
}
